# Iterators in Classes

In [ ]:
c = 0
for i in range(1,11):
    c +=1
    print(c)

In [1]:
class Counter:
    def __init__(self, maxCount):
        self.max = maxCount
    
    def __iter__(self):
        self.c = 0
        return self
    
    def __next__(self):
        if self.c <= self.max:
            self.c += 1
            return self.c
        else:
            raise StopIteration

In [2]:
object_10 = Counter(10)

In [3]:
for count in object_10:
    print(count)

1
2
3
4
5
6
7
8
9
10
11

# Polymorphism in Classes

In [4]:
class Car:
    def lights(self):
        print("Switch on during Night time")

In [12]:
class Dipper(Car):
    def lights(self):
        print("Switch on when overtaking")

In [6]:
class DRL(Car):
    def lights(self):
        print("Switch on during Day time")

In [11]:
Dipper().lights()

Switch on during Night time

In [8]:
DRL().lights()

Switch on during Day time

In [9]:
Car().lights()

Switch on during Night time

In [17]:
class DRL(Car):
    def lights(self):
        print("daytime light")
        
    def lights(self, li="blue"):
        print(f"***{li}")

In [18]:
DRL().lights()

***blue

## Fore reference
*args, **kwargs

In [19]:
from test import lights

In [21]:
lights("sachin", "saurav")

sachin saurav

# OOPS

Object Oriented Programming Language

1. Abstraction - Hiding away the logic
2. Encapsulation - Hiding the logic and make it more secure by providing controlled access
3. Inheritance - Writing the code once and reusing it by inheriting
4. Polymorphism - Use the same functionality in different ways

# File Operations in Python

## Reading Operation

In [27]:
with open("file1.txt", 'r') as file:
    content = file.read()

In [24]:
print(content)

just to reconfirm.. when there are duplicate functions/classes with the same name, Python refers to the most latest one

In [25]:
file=open("file1.txt",'r')
content = file.read()
print(content)

just to reconfirm.. when there are duplicate functions/classes with the same name, Python refers to the most latest one

In [33]:
with open("C:\\Users\\sandi\\Desktop\\file2.txt", 'r') as file2:
    content = file2.read()
    print(content)

jskdhfkjsdh
dsfhdskfljd
lksdhjlksdjh
kljsdhfkljsdfj

In [32]:
with open("C:/Users/sandi/Desktop/file2.txt", 'r') as file2:
    content = file2.read()
    print(content)

jskdhfkjsdh
dsfhdskfljd
lksdhjlksdjh
kljsdhfkljsdfj

## Writing Operation

In [35]:
with open("file3.txt", 'w') as file3:
    file3.write("India is my country\n")
    file3.write("All indians are my brothers and sisters")

## Append Operation

In [36]:
with open("file3.txt", 'a') as file3:
    file3.write("\nI love my country")

## Reading Line by Line

In [39]:
with open("file3.txt", 'r') as file3:
    for line in file3:
        print(line.upper())

INDIA IS MY COUNTRY

ALL INDIANS ARE MY BROTHERS AND SISTERS

I LOVE MY COUNTRY

In [40]:
with open("file3.txt", 'r') as file3:
    c = 0
    for line in file3:
        c += 1
        if c == 2:
            print(line)

All indians are my brothers and sisters

In [43]:
with open("file3.txt", 'r') as file3:
    lines = file3.readlines()
    
lines.insert(2, "Himanshu")

final_lines = "\n".join(lines)

with open("file4.txt", 'w') as file4:
    file4.write(final_lines)

In [42]:
print(lines)

['India is my country\n', 'All indians are my brothers and sisters\n', 'Himanshu', 'I love my country']

In [44]:
#Multiple operations will not work

with open("file3.txt", 'rw') as file3:
    lines = file3.readlines()

ValueError: must have exactly one of create/read/write/append mode

# Exception Handling

In [45]:
basic = [3,2,0,1]
number = 10

for n in basic:
    print(number/n)

3.3333333333333335
5.0

ZeroDivisionError: division by zero

In [46]:
basic = [3,2,0,1]
number = 10

try:
    for n in basic:
        print(number/n)
except:
    print("There was an error")

3.3333333333333335
5.0
There was an error

In [48]:
basic = [3,2,0,1]
number = 10

try:
    for n in basic:
        print(number/n)
except Exception as e:
    print(f"There was an error - {e}")

3.3333333333333335
5.0
There was an error - division by zero

In [51]:
try:
    with open("file10.txt", 'r') as file3:
        lines = file3.readlines()
except Exception as e:
    print(f"There was an error - {e}")

There was an error - [Errno 2] No such file or directory: 'file10.txt'

In [52]:
with open("file10.txt", 'r') as file3:
        lines = file3.readlines()

FileNotFoundError: [Errno 2] No such file or directory: 'file10.txt'

In [54]:
basic = [3,2,0,1]
number = 10

for n in basic:
    try:
        print(number/n)
    except ZeroDivisionError:
        print("A number zero is encountered so avoiding")
        pass

3.3333333333333335
5.0
A number zero is encountered so avoiding
10.0

In [57]:
basic = [3,2,5,1]
number = 10

for n in basic:
    try:
        print(number/n)
        raise ZeroDivisionError
    except ZeroDivisionError:
        print("A number zero is encountered so avoiding")

3.3333333333333335

RuntimeError: No active exception to reraise

In [58]:
basic = [3,2,0,1]
number = 10

try:
    for n in basic:
        print(number/n)
except Exception as e:
    print(f"There was an error - {e}")

3.3333333333333335
5.0
There was an error - division by zero

In [60]:
basic =[3,4,0 ,9]
number=1

for n in basic:
    try:
        print(number/n)
    except Exception as e:
        print(f"the eror is{e}")
        break

0.3333333333333333
0.25
the eror isdivision by zero

In [62]:
basic =[3,4,0 ,9]
number=1

try:
    for n in basic:
        try:
            print(number/n)
        except Exception as e:
            print(f"there is an error inside the loop -{e}")
            break
except Exception as e:
    print(f"There is an error in outer loop - {e}")

0.3333333333333333
0.25
there is an error inside the loop -division by zero

In [63]:
basic =[3,4,0 ,9]
number=1

try:
    for n in basic:
        print(number/n)

except Exception as e:
    print(f"There is an error in outer loop - {e}")

0.3333333333333333
0.25
There is an error in outer loop - division by zero

In [72]:
basic =[3,4,0 ,9]
number=1

try:
    for abc in basic:
        print(number/abc)

except (RuntimeError, ZeroDivisionError) as e:
    print(f"There is an error in outer loop - {e}")

0.3333333333333333
0.25
There is an error in outer loop - division by zero

In [74]:
number = int(input("Please Enter a Number"))

if number % 2 == 0:
    print("Number is even")
else:
    print("Number is odd")

Please Enter a NumberHimanshu

ValueError: invalid literal for int() with base 10: 'Himanshu'

In [77]:
try:
    number = int(input("Please Enter a Number"))

except Exception as e:
    print(f"Please enter a valid number - {e}")

else:
    if number % 2 == 0:
        print("Number is even")
    else:
        print("Number is odd")

Please Enter a Number10
Number is even

In [1]:
while True:
    try:
        number = int(input("Please Enter a Number"))

    except Exception as e:
        print(f"Please enter a valid number - {e}")
        continue

    else:
        if number % 2 == 0:
            print("Number is even")
            break
        else:
            print("Number is odd")
            break

Please Enter a NumberHimanshu
Please enter a valid number - invalid literal for int() with base 10: 'Himanshu'
Please Enter a Number10
Number is even

In [4]:
try:
    file = open("file34.txt", "r")
    content = file.read()
    print(content)
except Exception as e:
    print(f"There is an error - {e}")
finally:
    print("I am inside finally")
    file.close()

There is an error - [Errno 2] No such file or directory: 'file34.txt'
I am inside finally

# Decorators

In [5]:
import time

In [11]:
def multiplication_table(n):
    for i in range(1,200):
        print(f"{n} x {i} == {n*i}")

In [12]:
start_time = time.time()
multiplication_table(5)
end_time = time.time()

print(f"{end_time-start_time:.20f}")

5 x 1 == 5
5 x 2 == 10
5 x 3 == 15
5 x 4 == 20
5 x 5 == 25
5 x 6 == 30
5 x 7 == 35
5 x 8 == 40
5 x 9 == 45
5 x 10 == 50
5 x 11 == 55
5 x 12 == 60
5 x 13 == 65
5 x 14 == 70
5 x 15 == 75
5 x 16 == 80
5 x 17 == 85
5 x 18 == 90
5 x 19 == 95
5 x 20 == 100
5 x 21 == 105
5 x 22 == 110
5 x 23 == 115
5 x 24 == 120
5 x 25 == 125
5 x 26 == 130
5 x 27 == 135
5 x 28 == 140
5 x 29 == 145
5 x 30 == 150
5 x 31 == 155
5 x 32 == 160
5 x 33 == 165
5 x 34 == 170
5 x 35 == 175
5 x 36 == 180
5 x 37 == 185
5 x 38 == 190
5 x 39 == 195
5 x 40 == 200
5 x 41 == 205
5 x 42 == 210
5 x 43 == 215
5 x 44 == 220
5 x 45 == 225
5 x 46 == 230
5 x 47 == 235
5 x 48 == 240
5 x 49 == 245
5 x 50 == 250
5 x 51 == 255
5 x 52 == 260
5 x 53 == 265
5 x 54 == 270
5 x 55 == 275
5 x 56 == 280
5 x 57 == 285
5 x 58 == 290
5 x 59 == 295
5 x 60 == 300
5 x 61 == 305
5 x 62 == 310
5 x 63 == 315
5 x 64 == 320
5 x 65 == 325
5 x 66 == 330
5 x 67 == 335
5 x 68 == 340
5 x 69 == 345
5 x 70 == 350
5 x 71 == 355
5 x 72 == 360
5 x 73 == 365
5 x 74 == 370
5 x 75 == 375
5 x 76 == 380
5 x 77 == 385
5 x 78 == 390
5 x 79 == 395
5 x 80 == 400
5 x 81 == 405
5 x 82 == 410
5 x 83 == 415
5 x 84 == 420
5 x 85 == 425
5 x 86 == 430
5 x 87 == 435
5 x 88 == 440
5 x 89 == 445
5 x 90 == 450
5 x 91 == 455
5 x 92 == 460
5 x 93 == 465
5 x 94 == 470
5 x 95 == 475
5 x 96 == 480
5 x 97 == 485
5 x 98 == 490
5 x 99 == 495
5 x 100 == 500
5 x 101 == 505
5 x 102 == 510
5 x 103 == 515
5 x 104 == 520
5 x 105 == 525
5 x 106 == 530
5 x 107 == 535
5 x 108 == 540
5 x 109 == 545
5 x 110 == 550
5 x 111 == 555
5 x 112 == 560
5 x 113 == 565
5 x 114 == 570
5 x 115 == 575
5 x 116 == 580
5 x 117 == 585
5 x 118 == 590
5 x 119 == 595
5 x 120 == 600
5 x 121 == 605
5 x 122 == 610
5 x 123 == 615
5 x 124 == 620
5 x 125 == 625
5 x 126 == 630
5 x 127 == 635
5 x 128 == 640
5 x 129 == 645
5 x 130 == 650
5 x 131 == 655
5 x 132 == 660
5 x 133 == 665
5 x 134 == 670
5 x 135 == 675
5 x 136 == 680
5 x 137 == 685
5 x 138 == 690
5 x 139 == 695
5 x 140 == 700
5 x 141 == 705
5 x 142 == 710
5 x 143 == 715
5 x 144 == 720
5 x 145 == 725
5 x 146 == 730
5 x 147 == 735
5 x 148 == 740
5 x 149 == 745
5 x 150 == 750
5 x 151 == 755
5 x 152 == 760
5 x 153 == 765
5 x 154 == 770
5 x 155 == 775
5 x 156 == 780
5 x 157 == 785
5 x 158 == 790
5 x 159 == 795
5 x 160 == 800
5 x 161 == 805
5 x 162 == 810
5 x 163 == 815
5 x 164 == 820
5 x 165 == 825
5 x 166 == 830
5 x 167 == 835
5 x 168 == 840
5 x 169 == 845
5 x 170 == 850
5 x 171 == 855
5 x 172 == 860
5 x 173 == 865
5 x 174 == 870
5 x 175 == 875
5 x 176 == 880
5 x 177 == 885
5 x 178 == 890
5 x 179 == 895
5 x 180 == 900
5 x 181 == 905
5 x 182 == 910
5 x 183 == 915
5 x 184 == 920
5 x 185 == 925
5 x 186 == 930
5 x 187 == 935
5 x 188 == 940
5 x 189 == 945
5 x 190 == 950
5 x 191 == 955
5 x 192 == 960
5 x 193 == 965
5 x 194 == 970
5 x 195 == 975
5 x 196 == 980
5 x 197 == 985
5 x 198 == 990
5 x 199 == 995
0.00130391120910644531

In [17]:
def test(a, b, *args):
    print(a,b)
    print(args)

test(10,20, 30, 40, 50, 60)

10 20
(30, 40, 50, 60)

In [2]:
import time
def timer(func):
    def wrapper(*args):
        start_time = time.time()
        func(*args)
        end_time = time.time()
        print(f"Total time taken is - {end_time-start_time:.20f}")
    return wrapper

In [7]:
@timer
def multiplication_table(n):
    for i in range(1,200):
        print(f"{n} x {i} == {n*i}")

In [8]:
multiplication_table(5)

5 x 1 == 5
5 x 2 == 10
5 x 3 == 15
5 x 4 == 20
5 x 5 == 25
5 x 6 == 30
5 x 7 == 35
5 x 8 == 40
5 x 9 == 45
5 x 10 == 50
5 x 11 == 55
5 x 12 == 60
5 x 13 == 65
5 x 14 == 70
5 x 15 == 75
5 x 16 == 80
5 x 17 == 85
5 x 18 == 90
5 x 19 == 95
5 x 20 == 100
5 x 21 == 105
5 x 22 == 110
5 x 23 == 115
5 x 24 == 120
5 x 25 == 125
5 x 26 == 130
5 x 27 == 135
5 x 28 == 140
5 x 29 == 145
5 x 30 == 150
5 x 31 == 155
5 x 32 == 160
5 x 33 == 165
5 x 34 == 170
5 x 35 == 175
5 x 36 == 180
5 x 37 == 185
5 x 38 == 190
5 x 39 == 195
5 x 40 == 200
5 x 41 == 205
5 x 42 == 210
5 x 43 == 215
5 x 44 == 220
5 x 45 == 225
5 x 46 == 230
5 x 47 == 235
5 x 48 == 240
5 x 49 == 245
5 x 50 == 250
5 x 51 == 255
5 x 52 == 260
5 x 53 == 265
5 x 54 == 270
5 x 55 == 275
5 x 56 == 280
5 x 57 == 285
5 x 58 == 290
5 x 59 == 295
5 x 60 == 300
5 x 61 == 305
5 x 62 == 310
5 x 63 == 315
5 x 64 == 320
5 x 65 == 325
5 x 66 == 330
5 x 67 == 335
5 x 68 == 340
5 x 69 == 345
5 x 70 == 350
5 x 71 == 355
5 x 72 == 360
5 x 73 == 365
5 x 74 == 370
5 x 75 == 375
5 x 76 == 380
5 x 77 == 385
5 x 78 == 390
5 x 79 == 395
5 x 80 == 400
5 x 81 == 405
5 x 82 == 410
5 x 83 == 415
5 x 84 == 420
5 x 85 == 425
5 x 86 == 430
5 x 87 == 435
5 x 88 == 440
5 x 89 == 445
5 x 90 == 450
5 x 91 == 455
5 x 92 == 460
5 x 93 == 465
5 x 94 == 470
5 x 95 == 475
5 x 96 == 480
5 x 97 == 485
5 x 98 == 490
5 x 99 == 495
5 x 100 == 500
5 x 101 == 505
5 x 102 == 510
5 x 103 == 515
5 x 104 == 520
5 x 105 == 525
5 x 106 == 530
5 x 107 == 535
5 x 108 == 540
5 x 109 == 545
5 x 110 == 550
5 x 111 == 555
5 x 112 == 560
5 x 113 == 565
5 x 114 == 570
5 x 115 == 575
5 x 116 == 580
5 x 117 == 585
5 x 118 == 590
5 x 119 == 595
5 x 120 == 600
5 x 121 == 605
5 x 122 == 610
5 x 123 == 615
5 x 124 == 620
5 x 125 == 625
5 x 126 == 630
5 x 127 == 635
5 x 128 == 640
5 x 129 == 645
5 x 130 == 650
5 x 131 == 655
5 x 132 == 660
5 x 133 == 665
5 x 134 == 670
5 x 135 == 675
5 x 136 == 680
5 x 137 == 685
5 x 138 == 690
5 x 139 == 695
5 x 140 == 700
5 x 141 == 705
5 x 142 == 710
5 x 143 == 715
5 x 144 == 720
5 x 145 == 725
5 x 146 == 730
5 x 147 == 735
5 x 148 == 740
5 x 149 == 745
5 x 150 == 750
5 x 151 == 755
5 x 152 == 760
5 x 153 == 765
5 x 154 == 770
5 x 155 == 775
5 x 156 == 780
5 x 157 == 785
5 x 158 == 790
5 x 159 == 795
5 x 160 == 800
5 x 161 == 805
5 x 162 == 810
5 x 163 == 815
5 x 164 == 820
5 x 165 == 825
5 x 166 == 830
5 x 167 == 835
5 x 168 == 840
5 x 169 == 845
5 x 170 == 850
5 x 171 == 855
5 x 172 == 860
5 x 173 == 865
5 x 174 == 870
5 x 175 == 875
5 x 176 == 880
5 x 177 == 885
5 x 178 == 890
5 x 179 == 895
5 x 180 == 900
5 x 181 == 905
5 x 182 == 910
5 x 183 == 915
5 x 184 == 920
5 x 185 == 925
5 x 186 == 930
5 x 187 == 935
5 x 188 == 940
5 x 189 == 945
5 x 190 == 950
5 x 191 == 955
5 x 192 == 960
5 x 193 == 965
5 x 194 == 970
5 x 195 == 975
5 x 196 == 980
5 x 197 == 985
5 x 198 == 990
5 x 199 == 995
Total time taken is - 0.00200653076171875000

In [9]:
@timer
def test_while():
    for i in range(1,10000):
        continue

In [10]:
test_while()

Total time taken is - 0.00100564956665039062

In [11]:
def test(a, b, *args, **kwargs):
    print(a,b)
    print(args)
    print(kwargs)

test(10,20, 30, 40, 50, 60, name="Himanshu", age=34)

10 20
(30, 40, 50, 60)
{'name': 'Himanshu', 'age': 34}

In [27]:
def model_trainin(**kwargs):
    try:
        model_name = kwargs["model_name"]
    except KeyError as e :
        print("Model name not provided by user. Using default name")
        model_name = "basic"
    
    print(model_name)

In [28]:
model_trainin(model_name="model1")

model1

In [29]:
model_trainin()

Model name not provided by user. Using default name
basic

In [30]:
def model_trainin(**kwargs):
    if "model_name" in kwargs.keys():
        model_name = kwargs["model_name"]
    else:
        model_name = "basic"
    print(model_name)

In [31]:
model_trainin(model_name="model1")

model1

In [32]:
model_trainin()

basic

# Topics to be covered (non-intellipat)

1. logging
2. debugging
3. asyncio
4. mscvrt (exploration)
5. requests, flask (fast-api)
6. gc
7. deployment (docker, ec2 (vm instance), putty, winscp)

# Topics to be covered (intellipat)

1. args/kwargs