# Topics to be covered today

1. Functions as generators
2. Building Modules using Functions
3. Abstraction and Encapsulation difference
4. Classes - basics
5. Classes - advanced
6. Encapsulation/Abstraction using Classes
7. Inheritance and Polymorphism using Classes
8. Iterators in Classes
9. File Operations
10. Constructors in Python/Classes
11. Exception Handlinge
12. Decorators

# Functions as generators

In [1]:
students_info = {
    'Alex_1': 9, 'Alex_2': 5, 'Alex_3': 20, 'Alex_4': 40, 'Alex_5': 60,
    'Alex_6': 80, 'Alex_7': 100, 'Alex_8': 50, 'Alex_9': 70, 'Alex_10': 90,
    'Alex_11': 9, 'Alex_12': 5, 'Alex_13': 20, 'Alex_14': 40, 'Alex_15': 60,
    'Alex_16': 80, 'Alex_17': 100, 'Alex_18': 50, 'Alex_19': 70, 'Alex_20': 90,
    'Alex_21': 9, 'Alex_22': 5, 'Alex_23': 20, 'Alex_24': 40, 'Alex_25': 60,
    'Alex_26': 80, 'Alex_27': 100, 'Alex_28': 50, 'Alex_29': 70, 'Alex_30': 90
}

In [2]:
def students_marks():
    for name, marks in students_info.items():
        print(f"{name} ---- {marks}")

In [3]:
students_marks()

Alex_1 ---- 9
Alex_2 ---- 5
Alex_3 ---- 20
Alex_4 ---- 40
Alex_5 ---- 60
Alex_6 ---- 80
Alex_7 ---- 100
Alex_8 ---- 50
Alex_9 ---- 70
Alex_10 ---- 90
Alex_11 ---- 9
Alex_12 ---- 5
Alex_13 ---- 20
Alex_14 ---- 40
Alex_15 ---- 60
Alex_16 ---- 80
Alex_17 ---- 100
Alex_18 ---- 50
Alex_19 ---- 70
Alex_20 ---- 90
Alex_21 ---- 9
Alex_22 ---- 5
Alex_23 ---- 20
Alex_24 ---- 40
Alex_25 ---- 60
Alex_26 ---- 80
Alex_27 ---- 100
Alex_28 ---- 50
Alex_29 ---- 70
Alex_30 ---- 90

In [4]:
students_info.items()

dict_items([('Alex_1', 9), ('Alex_2', 5), ('Alex_3', 20), ('Alex_4', 40), ('Alex_5', 60), ('Alex_6', 80), ('Alex_7', 100), ('Alex_8', 50), ('Alex_9', 70), ('Alex_10', 90), ('Alex_11', 9), ('Alex_12', 5), ('Alex_13', 20), ('Alex_14', 40), ('Alex_15', 60), ('Alex_16', 80), ('Alex_17', 100), ('Alex_18', 50), ('Alex_19', 70), ('Alex_20', 90), ('Alex_21', 9), ('Alex_22', 5), ('Alex_23', 20), ('Alex_24', 40), ('Alex_25', 60), ('Alex_26', 80), ('Alex_27', 100), ('Alex_28', 50), ('Alex_29', 70), ('Alex_30', 90)])

In [5]:
for i in students_info.items():
        print(f"{i[0]} ---- {i[1]}")

Alex_1 ---- 9
Alex_2 ---- 5
Alex_3 ---- 20
Alex_4 ---- 40
Alex_5 ---- 60
Alex_6 ---- 80
Alex_7 ---- 100
Alex_8 ---- 50
Alex_9 ---- 70
Alex_10 ---- 90
Alex_11 ---- 9
Alex_12 ---- 5
Alex_13 ---- 20
Alex_14 ---- 40
Alex_15 ---- 60
Alex_16 ---- 80
Alex_17 ---- 100
Alex_18 ---- 50
Alex_19 ---- 70
Alex_20 ---- 90
Alex_21 ---- 9
Alex_22 ---- 5
Alex_23 ---- 20
Alex_24 ---- 40
Alex_25 ---- 60
Alex_26 ---- 80
Alex_27 ---- 100
Alex_28 ---- 50
Alex_29 ---- 70
Alex_30 ---- 90

In [6]:
def students_marks():
    for name, marks in students_info.items():
        return(f"{name} ---- {marks}")

In [7]:
students_marks()

'Alex_1 ---- 9'

In [8]:
def students_marks(students_info):
    for name, marks in students_info.items():
        yield(f"{name} ---- {marks}")

In [9]:
students_marks(students_info)

Creating a new object everytime will give same output everytime

In [10]:
next(students_marks(students_info))

'Alex_1 ---- 9'

In [11]:
next(students_marks(students_info))

'Alex_1 ---- 9'

Storing the object and then using it will give all the outputs one by one

In [12]:
student_object = students_marks(students_info)

In [13]:
print(student_object)

<generator object students_marks at 0x0000012DF2E555B0>

In [14]:
next(student_object)

'Alex_1 ---- 9'

In [15]:
next(student_object)

'Alex_2 ---- 5'

In [16]:
next(student_object)

'Alex_3 ---- 20'

In [17]:
next(student_object)

'Alex_4 ---- 40'

In [18]:
for temp in students_marks(students_info):
    print(temp)

Alex_1 ---- 9
Alex_2 ---- 5
Alex_3 ---- 20
Alex_4 ---- 40
Alex_5 ---- 60
Alex_6 ---- 80
Alex_7 ---- 100
Alex_8 ---- 50
Alex_9 ---- 70
Alex_10 ---- 90
Alex_11 ---- 9
Alex_12 ---- 5
Alex_13 ---- 20
Alex_14 ---- 40
Alex_15 ---- 60
Alex_16 ---- 80
Alex_17 ---- 100
Alex_18 ---- 50
Alex_19 ---- 70
Alex_20 ---- 90
Alex_21 ---- 9
Alex_22 ---- 5
Alex_23 ---- 20
Alex_24 ---- 40
Alex_25 ---- 60
Alex_26 ---- 80
Alex_27 ---- 100
Alex_28 ---- 50
Alex_29 ---- 70
Alex_30 ---- 90

Another Example

In [19]:
students_info = {
    'Alex_1': 9, 'Alex_2': 5, 'Alex_3': 20, 'Alex_4': 40, 'Alex_5': 60,
    'Alex_6': 80, 'Alex_7': 100, 'Alex_8': 50, 'Alex_9': 70, 'Alex_10': 90,
    'Alex_11': 9, 'Alex_12': 5, 'Alex_13': 20, 'Alex_14': 40, 'Alex_15': 60,
    'Alex_16': 80, 'Alex_17': 100, 'Alex_18': 50, 'Alex_19': 70, 'Alex_20': 90,
    'Alex_21': 9, 'Alex_22': 5, 'Alex_23': 20, 'Alex_24': 40, 'Alex_25': 60,
    'Alex_26': 80, 'Alex_27': 100, 'Alex_28': 50, 'Alex_29': 70, 'Alex_30': 90
}

In [20]:
def information_generator(student):
    for name, marks in student.items():
        yield(name,marks)

In [21]:
information_generator_object = information_generator(students_info)

In [22]:
name, marks = next(information_generator_object)
if marks < 10:
    print(f"{name} Failed")
else:
    print(f"{name} Passed")

Alex_1 Failed

In [23]:
for name, marks in information_generator_object:
    if marks < 10:
        print(f"{name} Failed")
    else:
        print(f"{name} Passed")

Alex_2 Failed
Alex_3 Passed
Alex_4 Passed
Alex_5 Passed
Alex_6 Passed
Alex_7 Passed
Alex_8 Passed
Alex_9 Passed
Alex_10 Passed
Alex_11 Failed
Alex_12 Failed
Alex_13 Passed
Alex_14 Passed
Alex_15 Passed
Alex_16 Passed
Alex_17 Passed
Alex_18 Passed
Alex_19 Passed
Alex_20 Passed
Alex_21 Failed
Alex_22 Failed
Alex_23 Passed
Alex_24 Passed
Alex_25 Passed
Alex_26 Passed
Alex_27 Passed
Alex_28 Passed
Alex_29 Passed
Alex_30 Passed

## Why generators

1. If we use normal lists and iterate over it, then whatever value is present inside only that value will come outside
2. If we use generator, a value can be processed and the processed value can come out, for example, marks has a range of 0-100 but before passing it to a machine learning model we want to chang the range to 0-1, for this scenario generators can be used

In [59]:
def addition(a,b):
    return(a+b)

In [60]:
def subtraction(a,b):
    return(a-b)

In [61]:
def multiplication(a,b):
    return(a*b)

In [62]:
def division(a,b):
    return(a/b)

In [63]:
addition(10,20)

30

In [64]:
subtraction(30,10)

20

In [65]:
multiplication(2,3)

6

In [75]:
division(10,2)

NameError: name 'division' is not defined

In [74]:
del division

# Using Modules

#### Importing module directly

In [67]:
import maths

In [68]:
maths.multiplication(2,3)

6

In [69]:
maths.addition(10,20)

30

#### Creating an alias for module

In [5]:
import maths as m

m.subtraction(20,10)

10

In [6]:
m.addition(10,20)

30

#### Importing all the functions and classes present inside the module

In [7]:
from maths import *

In [8]:
division(30,2)

15.0

In [9]:
subtraction(44,22)

22

#### Importing only required functions

In [10]:
from maths import division, modulus

In [11]:
division(66,4)

16.5

In [12]:
modulus(66,4)

2

In [13]:
from maths import division as d

In [15]:
d(22,9)

2.4444444444444446

# Classes

In [16]:
class Student:
    name = "Himanshu"
    marks = 9

In [17]:
student_object = Student()

In [22]:
student_object_2 = Student()

In [18]:
student_object.name

'Himanshu'

In [19]:
student_object.marks

9

In [23]:
student_object_2.name

'Himanshu'

In [20]:
name = "Himanshu"

name = "Sachin"

In [21]:
print(name)

Sachin

In [24]:
class Student:
    def __init__(self, given_name, given_marks):
        self.name = given_name
        self.marks = given_marks

In [25]:
himanshu = Student("Sachin", "24")

In [26]:
venkat = Student("Sachin", "48")

In [27]:
himanshu.name, himanshu.marks

('Sachin', '24')

In [28]:
venkat.name, venkat.marks

('Sachin', '48')

In [29]:
name = input("enter name")
marks = input("enter marks")
himanshu = Student(name, marks)

enter nameSaurav
enter marks20

In [30]:
himanshu.name, himanshu.marks

('Saurav', '20')

#### Having Functions/Methods inside a class

In [62]:
# In init passing self is mandatory

class Student:
    def __init__(self, given_name, given_marks):
        self.name = given_name
        self.marks = given_marks
        self.present = 0
        self.absent = 0
        
    def mark_present(self):
        self.present += 1
        
    def mark_absent(self):
        self.absent += 1
        
    def show_attendance(self):
        print(f"{self.name} is present for {self.present} days and is absent for {self.absent} days")

In [63]:
# Initialize a class
# Create object of a class
# Create instane of a class

vipin = Student("Vipin", "40")

In [64]:
vipin.which_section()

The Student belongs to Section A

In [41]:
vipin.mark_present()

In [42]:
vipin.mark_present()

In [43]:
vipin.mark_present()

In [44]:
vipin.mark_absent()

In [45]:
vipin.mark_absent()

In [46]:
vipin.show_attendance()

Vipin is present for 3 days and is absent for 2 days

#### Inheritance

In [65]:
# In init passing self is mandatory

class Student:
    def __init__(self, given_name, given_marks):
        self.name = given_name
        self.marks = given_marks
        self.present = 0
        self.absent = 0
        
    def mark_present(self):
        self.present += 1
        
    def mark_absent(self):
        self.absent += 1
        
    def show_attendance(self):
        print(f"{self.name} is present for {self.present} days and is absent for {self.absent} days")

In [84]:
class CollegeStudent(Student):
    def __init__(self, given_name, given_marks):
        super().__init__(given_name, given_marks)
        self.grade = ""
        
    def calculate_grades(self):
        if self.marks < 10:
            self.grade = "Fail"
            
        print(self.grade)

In [87]:
yashaswi = CollegeStudent("Yashashwi", 5)

In [88]:
yashaswi.calculate_grades()

Fail

In [89]:
yashaswi.mark_present()

In [90]:
yashaswi.mark_absent()

In [91]:
yashaswi.show_attendance()

Yashashwi is present for 1 days and is absent for 1 days

In [92]:
sarfaraz = Student("sarfaraz", "20")

In [93]:
sarfaraz.calculate_grades()

AttributeError: 'Student' object has no attribute 'calculate_grades'

In [96]:
# In init passing self is mandatory

class Student:
    def __init__(self, given_name, given_marks):
        self.name = given_name
        self.marks = given_marks
        self.__present = 0
        self.__absent = 0
        
    def mark_present(self):
        self.__present += 1
        
    def mark_absent(self):
        self.__absent += 1
        
    def show_attendance(self):
        print(f"{self.name} is present for {self.__present} days and is absent for {self.__absent} days")

In [97]:
x = Student("A", 5)

In [98]:
x.__present

AttributeError: 'Student' object has no attribute '__present'

In [100]:
x.name

'A'

In [104]:
x.mark_present()

In [105]:
x.show_attendance()

A is present for 3 days and is absent for 0 days

In [106]:
x.__present

AttributeError: 'Student' object has no attribute '__present'