# Shorthand Notation of If/else

In [2]:
marks = [20, 40, 60, 80, 100, 10, 30, 50, 70, 90]
failing_criteria = 30

for m in marks:
    if m <= failing_criteria:
        print("fail")
    else:
        print("pass")

fail
pass
pass
pass
pass
fail
fail
pass
pass
pass

In [6]:
# Shorthand Notation

marks = [20, 40, 60, 80, 100, 10, 30, 50, 70, 90]
failing_criteria = 30
for m in marks:
    status = "fail" if m <= failing_criteria else "pass"
    status_marks = f"{m} FAIL" if m<failing_criteria else f"{m} PASS"
    print(status_marks)

20 FAIL
40 PASS
60 PASS
80 PASS
100 PASS
10 FAIL
30 PASS
50 PASS
70 PASS
90 PASS

In [9]:
marks = [20, 40, 60, 80, 100, 10, 30, 50, 70, 90]
failing_criteria = 40
grade_D = 50

for m in marks:
    status = "fail" if m <= failing_criteria else "grade D" if m > failing_criteria and m <=grade_D else "Pass"
    print(status)

fail
fail
Pass
Pass
Pass
fail
fail
grade D
Pass
Pass

In [11]:
status = "fail" if  m <= failing_criteria else "Grade D" if m > 30 and m <=50 else "Pass"

# Short Hand Notation of For Loop
#### Comprehension

In [1]:
marks = [20, 40, 60, 80, 100, 10, 30, 50, 70, 90]

# Earlier Approach

for m in marks:
    print(m)

20
40
60
80
100
10
30
50
70
90

In [2]:
for m in marks: print(m)

20
40
60
80
100
10
30
50
70
90

In [4]:
status = ["fail" if m <= 30 else "pass" for m in marks]

In [5]:
print(status)

['fail', 'pass', 'pass', 'pass', 'pass', 'fail', 'fail', 'pass', 'pass', 'pass']

In [22]:
for s in status: print(s)

fail
pass
pass
pass
pass
fail
fail
pass
pass
pass

# Advanced Looping

In [6]:
# Break Keyword

marks = [9, 5, 20, 40, 60, 80, 100, 50, 70, 90]

# Is there any student who got less than 10 marks?

number_of_students = 0
for m in marks:
    if number_of_students == 2:
        break
    if m < 10:
        number_of_students += 1
        print(f"The Student failed and he got: {m}")
    else:
        print(m)

The Student failed and he got: 9
The Student failed and he got: 5

In [35]:
# Continue Keyword

marks = [9, 5, 20, 40, 60, 80, 100, 50, 70, 90]
for m in marks:
    if m > 10:
        continue
    print(f"The marks I got is: {m}")
    print(f"Highest marks I can get is: {100}")
    print(f"Percentage that I got is: {m}%")

The marks I got is: 9
Highest marks I can get is: 100
Percentage that I got is: 9%
The marks I got is: 5
Highest marks I can get is: 100
Percentage that I got is: 5%

In [38]:
marks = [9, 5, 20, 40, 60, 80, 100, 50, 70, 90, 9, 5, 20, 40, 60, 80, 100, 50, 70, 90, 9, 5, 20, 40, 60, 80, 100, 50, 70, 90]

count_students = 0
for m in marks:
    count_students += 1
    if count_students == 15:
        break
    
    if m < 30:
        continue
        
    print(m/3)
    print(m*3)
    print(m%3)
    print(m+3)
    print(m-3)

13.333333333333334
120
1
43
37
20.0
180
0
63
57
26.666666666666668
240
2
83
77
33.333333333333336
300
1
103
97
16.666666666666668
150
2
53
47
23.333333333333332
210
1
73
67
30.0
270
0
93
87
13.333333333333334
120
1
43
37

In [ ]:
assignments = ["complete", "incomplete","complete", "incomplete","complete", "incomplete","complete", "incomplete"]

for a in assignments:
    if a == "incomplete":
        continue
    
    #process the assignment - code logic

# While Loops

In [ ]:
c = 0
while marks[c] > 30:
    c += 1
    if marks[c] <= 50:
        print("Grade D")
    elif marks[c] <= 70:
        print("Grade C")
    elif marks[c] <= 80:
        print("Grade B")
    else:
        print("Grade A")

In [ ]:
c = 0
while True:
    if c == 1000:
        break
    c += 1
    if marks[c] <= 50:
        print("Grade D")
    elif marks[c] <= 70:
        print("Grade C")
    elif marks[c] <= 80:
        print("Grade B")
    else:
        print("Grade A")

In [44]:
marks = [9, 5, 20, 40, 60, 80, 100, 50, 70, 90, 9, 5, 20, 40, 60, 80, 100, 50, 70, 90, 9, 5, 20, 40, 60, 80, 100, 50, 70, 90]

c = 0
while True:
    if c == 29:
        break
    c += 1
    if marks[c] <= 50:
        print("Call Parent-Teacher Meeting")
    elif marks[c] <= 90:
        continue
    else:
        print("Give them award!!")  
        
    print("Copyright of DPS. 2012-2024")

Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Give them award!!
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Give them award!!
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024
Give them award!!
Copyright of DPS. 2012-2024
Call Parent-Teacher Meeting
Copyright of DPS. 2012-2024

In [7]:
try:
    printing("sachin")
except:
    print("printing is not a python key word")

printing is not a python key word

In [9]:
list1 = [1,2,3,4,5]

list2  = list1

In [10]:
list2

[1, 2, 3, 4, 5]

1. Functions
2. Lambda Functions

In [ ]:
batting = True
event = "bowled"
shot = "straight_drive"
while batting:
    if event == "bowled":
        #batting = False
        break
    if event == "wide_ball":
        pass
    if event == "normal_ball":
        if shot == "straight_drive":
            continue
        if shot == "flick":
            continue
        if shot == "cover_drive":
            continue

# Functions

In [48]:
students_info = {"Himanshu":"absent", "Vipin":"absent", "Shubham":"absent", "Srikar":"absent", "Shweta":"absent"}

In [61]:
students_info["Srikar"] = "present"
students_info

{'Himanshu': 'absent',
 'Vipin': 'absent',
 'Shubham': 'absent',
 'Srikar': 'present',
 'Shweta': 'absent'}

In [54]:
# Encapsulation
def student_attendance(name, attendance):
    students_info[name]=attendance
    print("Success")

In [55]:
student_attendance("Himanshu", "absent")
students_info

Success

{'Himanshu': 'absent',
 'Vipin': 'absent',
 'Shubham': 'present',
 'Srikar': 'absent',
 'Shweta': 'absent'}

In [56]:
student_attendance("Shubham", "absent")
students_info

Success

{'Himanshu': 'absent',
 'Vipin': 'absent',
 'Shubham': 'absent',
 'Srikar': 'absent',
 'Shweta': 'absent'}

In [57]:
def multiplication_table(number):
    for i in range(1,11):
        print(f"{number} x {i} = {number * i}")

In [58]:
multiplication_table(2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [59]:
multiplication_table(19)

19 x 1 = 19
19 x 2 = 38
19 x 3 = 57
19 x 4 = 76
19 x 5 = 95
19 x 6 = 114
19 x 7 = 133
19 x 8 = 152
19 x 9 = 171
19 x 10 = 190

In [60]:
multiplication_table(240)

240 x 1 = 240
240 x 2 = 480
240 x 3 = 720
240 x 4 = 960
240 x 5 = 1200
240 x 6 = 1440
240 x 7 = 1680
240 x 8 = 1920
240 x 9 = 2160
240 x 10 = 2400

In [67]:
def student_attendance(name, attendance):
    students_info[name]=attendance
    return("Success")
    
a = student_attendance("Shubham", "absent")

In [68]:
a

'Success'

In [69]:
students_info = {
    'Alex_1': 9, 'Alex_2': 5, 'Alex_3': 20, 'Alex_4': 40, 'Alex_5': 60,
    'Alex_6': 80, 'Alex_7': 100, 'Alex_8': 50, 'Alex_9': 70, 'Alex_10': 90,
    'Alex_11': 9, 'Alex_12': 5, 'Alex_13': 20, 'Alex_14': 40, 'Alex_15': 60,
    'Alex_16': 80, 'Alex_17': 100, 'Alex_18': 50, 'Alex_19': 70, 'Alex_20': 90,
    'Alex_21': 9, 'Alex_22': 5, 'Alex_23': 20, 'Alex_24': 40, 'Alex_25': 60,
    'Alex_26': 80, 'Alex_27': 100, 'Alex_28': 50, 'Alex_29': 70, 'Alex_30': 90
}

In [73]:
def get_marks(name):
    marks = students_info[name]
    if marks < 30:
        grade = "fail"
    elif marks < 50:
        grade = "D"
    elif marks < 70:
        grade = "C"
    elif marks < 80:
        grade = "B"
    else:
        grade = "A"
    
    return(marks, grade)

In [74]:
get_marks("Alex_19")

(70, 'B')

In [75]:
get_marks("Alex_30")

(90, 'A')

In [76]:
info = get_marks("Alex_2")
info

(5, 'fail')

In [79]:
# Unpacking

m, g = get_marks("Alex_10")

print(m)
print(g)

90
A

In [84]:
def get_marks(name):
    temp1 = students_info[name]
    if marks < 30:
        temp2 = "fail"
    elif marks < 50:
        temp2 = "D"
    elif marks < 70:
        temp2 = "C"
    elif marks < 80:
        temp2 = "B"
    else:
        temp2 = "A"
    print(temp1, temp2)
    return(temp1, temp2)

In [85]:
m, g = get_marks("Alex_10")

90 A

In [82]:
print(m,g)

90 A

In [83]:
print(temp1, temp2)

NameError: name 'temp1' is not defined

# Local and Global Variables

In [86]:
#Global Variables
name = "Himanshu"
age = 34

def test_variables():
    #Local Variables
    name = "Sachin"
    age = 42
    print(name, age)

test_variables()

Sachin 42

In [87]:
print(name, age)

Himanshu 34

In [96]:
name = "Himanshu"
age = 34

def test_variables():
    global name
    global age
    age = 30
    print(name, age)
    
def test_variables_with_params(name, age):
    age = 65
    print(name, age)

In [97]:
test_variables()

Himanshu 30

In [98]:
test_variables_with_params(name=name, age=age)

Himanshu 65

In [99]:
print(name,age)

Himanshu 30

In [ ]:
status = False

if status == False:
    checks_db_status()
else:
    insert_to_db()

In [107]:
def get_marks(name):
    marks = students_info[name]
    if marks < 30:
        grade = "fail"
        return(marks, grade)
    if marks < 50:
        grade = "D"
        return(marks, grade)
    if marks < 70:
        grade = "C"
        return(marks, grade)
    if marks < 80:
        grade = "B"
        return(marks, grade)
    else:
        grade = "A"
        return(marks, grade)
    print("Your grade is bad")
    print("Your name is I dont know what")

In [108]:
get_marks("Alex_10")

(90, 'A')

In [106]:
def get_marks(name):
    marks = students_info[name]
    if marks < 30:
        grade = "fail"
        print(marks, grade)
    if marks < 50:
        grade = "D"
        print(marks, grade)
    if marks < 70:
        grade = "C"
        print(marks, grade)
    if marks < 80:
        grade = "B"
        print(marks, grade)
    if marks > 80:
        grade = "A"
        print(marks, grade)
    print("Your grade is bad")
    print("Your name is I dont know what")
        
get_marks("Alex_10")

90 A
Your grade is bad
Your name is I dont know what