# Sets

In [1]:
A = {1,8,4,7,6}
B = {1,2,3,4,5,6}

In [2]:
type(A), type(B)

(set, set)

If we just write variables with a comma, python automatically considers it as a tuple

In [4]:
1,2,3,4,5

(1, 2, 3, 4, 5)

## Set Operations

In [8]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
A

{1, 4, 6, 7, 8}

In [10]:
A.intersection(B)

{1, 4, 6}

In [11]:
A.difference(B)

{7, 8}

In [12]:
B.difference(A)

{2, 3, 5}

In [13]:
A.add(10)

In [14]:
A

{1, 4, 6, 7, 8, 10}

In [15]:
A.clear()

In [16]:
A

set()

In [18]:
del A

In [20]:
A

NameError: name 'A' is not defined

In [21]:
A = {1,8,4,7,6}

In [22]:
len(A)

5

In [23]:
A.remove(8)

In [24]:
A

{1, 4, 6, 7}

In [25]:
A.pop() #in sets popping happens from the beginnning

1

In [26]:
A

{4, 6, 7}

In [22]:
#We cannot use pop in sets using indexes
A.pop(2)

TypeError: set.pop() takes no arguments (1 given)

In [23]:
A.index(6)

AttributeError: 'set' object has no attribute 'index'

In [26]:
A.discard(6)

In [27]:
A

{4, 7}

### remove vs discard

remove - find the value and delete the value. If the value doesn't exists, throw error
discard - find the value and delete the value. If the value doesn't exists, avoid. Don't throw any error!!

In [28]:
A.remove(6)

KeyError: 6

In [29]:
A.discard(6)

In [27]:
C = {"A", "a", "D", "d", "C", "c"}

In [28]:
C

{'A', 'C', 'D', 'a', 'c', 'd'}

### Guideline for using Data Structures
1. For every general purpose we use lists
2. For storing information which should not be deleted, we use tuples
3. For default sorting, duplicates removal, union, intersection etc, we use Sets
4. If u want to store keys and values, we use Dictionaries

In [29]:
A = {1, 1.2, 3, "sachin"}

In [30]:
#The sort is happening because of ASCII
A

{1, 1.2, 3, 'sachin'}

In [31]:
A = {[1,2,3], [4,5,6]}

TypeError: unhashable type: 'list'

1. set()
2. list()
3. tuple()
4. dict()

In [38]:
set(1,2,3,4,5)

TypeError: set expected at most 1 argument, got 5

In [39]:
set([1,2,3,4,5])

{1, 2, 3, 4, 5}

In [40]:
set({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [41]:
set("himanshu")

{'a', 'h', 'i', 'm', 'n', 's', 'u'}

In [42]:
list("himanshu")

['h', 'i', 'm', 'a', 'n', 's', 'h', 'u']

In [45]:
list({"a":100, "b":300})

['a', 'b']

# Strings

In [46]:
name = "Himanshu"

In [47]:
name_again = 'Himanshu'

In [48]:
name_again_and_again = '''Himanshu'''

In [49]:
print(name, name_again, name_again_and_again)

Himanshu Himanshu Himanshu

In [50]:
name[0]

'H'

In [51]:
name[1]

'i'

### String Operations

In [52]:
len(name)

8

In [53]:
name = "Aakash"

In [54]:
len(name)

6

In [55]:
name.count("A")

1

In [56]:
name.count("a")

2

In [57]:
name.count("A")+name.count("a")

3

In [59]:
n = name.lower()

In [60]:
n.count("a")

3

In [62]:
name.upper()

'AAKASH'

In [63]:
complete_name = "Himanshu Singh"

In [64]:
complete_name.split(" ")

['Himanshu', 'Singh']

In [68]:
a = complete_name.split(" ")

In [65]:
first_name = complete_name.split(" ")[0]
last_name = complete_name.split(" ")[1]

In [69]:
first_name = a[0]
last_name = a[1]

In [70]:
first_name

'Himanshu'

In [71]:
last_name

'Singh'

In [72]:
complete_name = "Himanshu//Singh"

complete_name.split("//")

In [78]:
complete_name.find("/")

8

In [81]:
new_name = first_name+" "+last_name

In [82]:
new_name

'Himanshu Singh'

In [83]:
new_name.replace("Singh", "Pandey")

'Himanshu Pandey'

In [86]:
"Chitra"+"nshu"

'Chitranshu'

In [91]:
new_name

'Himanshu Singh'

In [88]:
new_name.index("S")

9

In [93]:
# Direct replacement is not possible
# We can use index to read, but not write
new_name[8]="/"

TypeError: 'str' object does not support item assignment

In [94]:
new_name.replace(" ","/")

'Himanshu/Singh'

In [98]:
names = "MY NAME IS GOPAL"
names = names.replace("GOPAL", "Krish")
print(names)

MY NAME IS Krish

In [97]:
names

'MY NAME IS GOPAL'

In [107]:
temp = list(new_name)
print(temp)

temp[8] = "/"
print(temp)

name = ""
for i in temp:
    name = name + i

print(name)

['H', 'i', 'm', 'a', 'n', 's', 'h', 'u', ' ', 'S', 'i', 'n', 'g', 'h']
['H', 'i', 'm', 'a', 'n', 's', 'h', 'u', '/', 'S', 'i', 'n', 'g', 'h']
Himanshu/Singh

In [108]:
name = ["Arnav", "Singh", "Randhawa"]

In [109]:
name[0]+" "+name[1]+" "+name[2]

'Arnav Singh Randhawa'

In [112]:
full_name = ""
for n in name:
    full_name = full_name + n + " "
    
print(full_name)

Arnav Singh Randhawa

In [113]:
" ".join(name)

'Arnav Singh Randhawa'

In [114]:
text = 'India's mangoes are famous'

SyntaxError: unterminated string literal (detected at line 1) (2696139769.py, line 1)

In [126]:
text = "India's mangoes are \n famous"

In [127]:
text

"India's mangoes are \n famous"

In [132]:
text2 = 'My name is\n"Himanshu"'

In [133]:
text2

'My name is\n"Himanshu"'

In [137]:
# Escape sequences
# Escape characters work perfectly with print() statement
# https://www.w3schools.com/python/gloss_python_escape_characters.asp
text = 'India\'s mangoes \n are famous'
print(text)

India's mangoes
 are famous

In [139]:
text = "my NAme iS Himanshu"
text.capitalize()

'My name is himanshu'

In [142]:
"Ś".casefold()

'ś'

In [143]:
"Ś".lower()

'ś'

In [146]:
word = "Straße"
word.lower()

'straße'

In [147]:
word.casefold()

'strasse'

In [148]:
word

'Straße'

# Slicing

In [150]:
temp = list(range(1,50))
temp

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49]

In [151]:
temp[0:5]

[1, 2, 3, 4, 5]

In [152]:
temp[:5]

[1, 2, 3, 4, 5]

In [153]:
temp[1:10:2]

[2, 4, 6, 8, 10]

# Conditional Statements

In [154]:
marks = [20, 40, 60, 80, 100, 10, 30, 50, 70, 90]
failing_criteria = 30

In [163]:
fail = 0
for m in marks:
    if m <= failing_criteria:
        fail += 1
        print("fail")
    else:
        print("pass")

print(f"Total number of students failed: {fail}")
print(f"Total number of students passed: {len(marks) - fail}")

fail
pass
pass
pass
pass
fail
fail
pass
pass
pass
Total number of students failed: 3
Total number of students passed: 7

In [160]:
marks = [20, 40, 60, 80, 100, 10, 30, 50, 70, 90]
failing_criteria = 30
grade_D = 50
grade_C = 70
grade_B = 85

In [167]:
#Creating counters
fail = 0
d = 0
c = 0
b = 0
a = 0
for m in marks:
    if m <= failing_criteria:
        fail += 1
    elif m>failing_criteria and m <= grade_D:
        d += 1
    elif m>grade_D and m <= grade_C:
        c += 1
    elif m>grade_C and m <= grade_B:
        b += 1
    else:
        a += 1
        
print(f"Total number of students failed: {fail}")
print(f"Total number of students having D Grade: {d}")
print(f"Total number of students having C Grade: {c}")
print(f"Total number of students having B Grade: {b}")
# print(f"Total number of students having A Grade: {a}")
print(f"Total number of students having A Grade: {len(marks)-fail-d-c-b}")

Total number of students failed: 3
Total number of students having D Grade: 2
Total number of students having C Grade: 2
Total number of students having B Grade: 1
Total number of students having A Grade: 2

In [189]:
# Nested Dictionaries

classes_information = {
    "Section A": {
        "student_info": {"1":"Mahak", "2":"Vipin", "3":"Saurav"},
        "student_marks": {"1":20, "2":99, "3": 45}
    },
    "Section B": {
        "student_info": {"4":"Sachin", "5":"Rahul", "6":"Sehwag"},
        "student_marks": {"4":90, "5":87, "6": 77}
    }
}

1. How many students pass or fail in each sections?
2. What is the name of those students?

In [190]:
# Number of students failed in Section A, Section B

sectionA = classes_information["Section A"]
sectionB = classes_information["Section B"]
print(sectionA)
print(sectionB)

{'student_info': {'1': 'Mahak', '2': 'Vipin', '3': 'Saurav'}, 'student_marks': {'1': 20, '2': 99, '3': 45}}
{'student_info': {'4': 'Sachin', '5': 'Rahul', '6': 'Sehwag'}, 'student_marks': {'4': 90, '5': 87, '6': 77}}

In [194]:
all_marks = sectionA["student_marks"]
all_students = sectionA["student_info"]
print(all_marks)
for k in all_marks.keys():
    if all_marks[k] <= 30:
        print(f"The student who failed is {all_students[k]}")

{'1': 20, '2': 99, '3': 45}
The student who failed is Mahak

In [191]:
all_marks = sectionA["student_marks"].values()
fail = 0
for m in all_marks:
    if m <= 30:
        fail += 1

print(f"Total number of students failed in Section A: {fail}")
print(f"Total number of students passed in Section A: {len(all_marks) - fail}")

Total number of students failed in Section A: 1
Total number of students passed in Section A: 2

In [192]:
all_marks = sectionB["student_marks"].values()
fail = 0
for m in all_marks:
    if m <= 30:
        fail += 1

print(f"Total number of students failed in Section B: {fail}")
print(f"Total number of students passed in Section B: {len(all_marks) - fail}")

Total number of students failed in Section B: 0
Total number of students passed in Section B: 3

In [193]:
all_marks = sectionA["student_marks"]
all_students = sectionA["student_info"]
print(all_marks)
for k in all_marks.keys():
    if all_marks[k] <= 30:
        print(f"The student who failed is {all_students[k]}")

{'1': 20, '2': 99, '3': 45}
The student who failed is Mahak