# Python Lists

#### 1.	Reverse a list in Python. Example: Given the list [1, 2, 3], after reversing, it should become [3, 2, 1].

In [11]:
a = [1,2,3]
a.reverse()
a

[3, 2, 1]

#### 2.	Find the sum of elements in a list. Example: For [1, 2, 3], the sum is 6.

In [13]:
a = [1,2,3]
sum(a)

6

#### 3.	Check if a list is empty or not. Example: [] should return True, whereas [1] returns False.

In [21]:
a = []
b = [1]
print(len(a) == 0)
print(len(b) == 0)

True
False

#### 4.	Find the number of occurrences of an element in a list. Example: In [1, 1, 2, 3], the number of occurrences of 1 is 2.

In [22]:
a = [1,1,2,3]
a.count(1)

2

#### 5.	Merge two sorted lists into a new sorted list. Example: Merging [1, 3, 5] and [2, 4, 6] should result in [1, 2, 3, 4, 5, 6].

In [42]:
a = [1,3,5]
b = [2,4,6]
a.extend(b) #we can also concatenate both lists using '+'.
a.sort()
a

[1, 2, 3, 4, 5, 6]

# Python Dictionaries

#### 6.	Count Characters in a String. Example: 'hello' results in {'h': 1, 'e': 1, 'l': 2, 'o': 1}.

In [60]:
def count_characters(s):
    char_count = {} 
    for char in s:
        if char in char_count: 
        # Here we are checking for the keys in dict, hence directly used the dict name. 
        # If you want to check the values then you need to use dict name.values().
            char_count[char] = char_count[char] + 1
        else:
            char_count[char] = 1 # here char is key and 1 is value 'char' = '1'. The key:value pair gets added to dict.
    return char_count

count_characters('hello')

{'h': 1, 'e': 1, 'l': 2, 'o': 1}

#### 7.	Merge Two Dictionaries. Example: {'a': 1, 'b': 2} and {'b': 3, 'c': 4} becomes {'a': 1, 'b': 3, 'c': 4}.

In [67]:
dict1 = {'a':1,'b':2}
dict2 = {'b':3,'c':4}
dict3 = {}
for key in dict1:
    dict3[key] = dict1[key]
for key in dict2:
    dict3[key] = dict2[key]
dict3

{'a': 1, 'b': 3, 'c': 4}

In [68]:
dict1 = {'a':1,'b':2}
dict2 = {'b':3,'c':4}
dict1.update(dict2) #Here dict2 overwrites dict1 values if there are any common keys.
dict1

{'a': 1, 'b': 3, 'c': 4}

#### 8.	Invert a Dictionary. Example: {'a': 1, 'b': 2} becomes {1: 'a', 2: 'b'}.

In [86]:
dict1 = {'a': 1, 'b': 2}
dict2 = {}
for key, value in dict1.items():
    dict2[value] = key
dict2

{1: 'a', 2: 'b'}

#### 9.	Find the Key with the Maximum Value. Example: {'a': 100, 'b': 200} should return 'b'.

In [123]:
dict1 = {'a':100, 'b': 200}

value = 0
max_key = ''

for key in dict1:
    if dict1[key] > value:
        value = dict1[key]
        max_key = key
    else:
        pass
print(max_key)

b

#### 10.	Group Anagrams. Example: ['eat', 'tea', 'tan', 'ate', 'nat', 'bat'] groups into [['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']].

In [140]:
mylist = ['eat', 'tea', 'tan', 'ate', 'nat', 'bat'] 
anagrams = {}
for word in mylist:
    sorted_word = ''.join(sorted(word)) #sorted will sort the string and store individual chars in a list.
    if sorted_word in anagrams:
        anagrams[sorted_word].append(word)
    else:
        anagrams[sorted_word] = [word] #here the actual word is stored as a value inside a list.
print (list(anagrams.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [139]:
(sorted('abcdeca'))

['a', 'a', 'b', 'c', 'c', 'd', 'e']

# Python Tuples and Sets

#### 11.	Swap Two Elements in a Tuple. Example: Swapping indices 1 and 3 in (1, 2, 3, 4) results in (1, 4, 3, 2).

In [144]:
a = (1, 2, 3, 4)
"""Since tuples are immutable in Python, you cannot directly swap elements within a tuple. However, you can achieve the desired result by converting the tuple to a list, performing the swap, and then converting it back to a tuple."""

'Since tuples are immutable in Python, you cannot directly swap elements within a tuple. However, you can achieve the desired result by converting the tuple to a list, performing the swap, and then converting it back to a tuple.'

#### 12.	Count the Elements in a Tuple. Example: In (1, 2, 2, 3), 2 occurs twice.

In [145]:
a = (1, 2, 2, 3)
a.count(2)

2

#### 13.	Convert a List of Tuples into a Dictionary. Example: [('a', 1), ('b', 2)] becomes {'a': 1, 'b': 2}.

In [148]:
a = [('a', 1), ('b', 2)] 
b = {}

for key,value in a:
    b[key] = value
print(b)

{'a': 1, 'b': 2}

#### 14.	Find the Symmetric Difference Between Two Sets. Example: {1, 2, 3} and {3, 4, 5} results in {1, 2, 4, 5}.

In [152]:
a = {1,2,3}
b = {3,4,5}
a.symmetric_difference(b)

{1, 2, 4, 5}

#### 15.	Check if a Set is a Subset of Another Set. Example: {1, 2} is a subset of {1, 2, 3}.

In [157]:
a = {1,2}
b = {1,2,3}
a.issubset(b)

True

# Python Methods

#### 16.	String Capitalization: Write a method that capitalizes the first letter of each word in a string. Example: 'hello world' becomes 'Hello World'.

In [160]:
def string_cap():
    word = input("Enter anything: ")
    words = word.split(' ')
    updated_string = []
    for i in words:
        x = i.capitalize()
        updated_string.append(x)
    return ' '.join(updated_string)

string_cap()

Enter anything: hi i am mouli

'Hi I Am Mouli'

In [161]:
string_cap()

Enter anything: hello world

'Hello World'

#### 17.	Finding Unique Elements in a List: Write a method that returns a new list with unique elements of the first list. Example: [1,2,2,3] becomes [1,2,3].

In [164]:
def unq_list(mylist):
    new_list = set(mylist)
    return list(new_list)

In [165]:
unq_list([1,2,2,3])

[1, 2, 3]

#### 18.	Sorting a List of Tuples by the Second Item: Write a function that takes a list of tuples and returns a list sorted by the second item in each tuple. Example: [(1, 3), (3, 2), (2, 1)] becomes [(2, 1), (3, 2), (1, 3)].

In [176]:
def sort_tuples_by_second_item(mylist):
    return sorted(mylist, key=lambda x: x[1]) #this lambda fn takes x and returns x[1]

"""In Python, the key parameter is a function that is used to specify a custom sorting criterion when sorting elements.
When you pass a key function to sorting functions like sorted() or list.sort(), Python will use this function to determine 
the order of elements rather than comparing the elements directly."""

sort_tuples_by_second_item([(1, 3), (3, 2), (2, 1)])

[(2, 1), (3, 2), (1, 3)]

#### 19.	Reverse Dictionary Mapping: Write a function that inverts a dictionary (swaps keys and values). Example: {'a': 1, 'b': 2} becomes {1: 'a', 2: 'b'}.

In [177]:
def rev_dict(mydict):
    rev_map_dict = {}
    
    for key, value in mydict.items():
        rev_map_dict[value] = key
        
    return rev_map_dict

rev_dict({'a': 1, 'b': 2})

{1: 'a', 2: 'b'}

# Python Classes

#### 20.	Define a Basic Class: Define a class `Circle` with a method `area` that calculates the area of the circle.

In [210]:
class Circle():
    
    pi = 3.14
    
    def __init__(self,radius):
        self.radius = radius
    
    def area(self):
        return Circle.pi*self.radius**2

circle1 = Circle(5)
print("Area of the circle:", circle1.area())

Area of the circle: 78.5

#### 21.	Class Inheritance: Create a class `Cylinder` that inherits from `Circle` and has a method to calculate the volume.

In [216]:
class Cylinder(Circle):
    def volume(self,height):
        return Circle.pi*self.radius*self.radius*height

cylinder1 = Cylinder(6)
print("Volume of cylinder of height 9 and raidus 6 is:",round((cylinder1.volume(9)),2))

Volume of cylinder of height 9 and raidus 6 is: 1017.36